/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
.btn {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 0.625em;
  text-decoration: none;
  background-color: #fff;
  border-width: 0.2em;
  border-style: solid;
  border-radius: 0.313em; }
  .btn.btn-standard {
    border-color: #3e1b3a;
    color: #3e1b3a;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    transition-timing-function: ease-out; }
    .btn.btn-standard:hover {
      background-color: #3e1b3a;
      color: #fff;
      transition-property: background-color, color;
      transition-duration: 0.4s;
      transition-timing-function: ease-out; }
  .btn.btn-alt {
    border-color: #96526a;
    color: #96526a;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    transition-timing-function: ease-out; }
    .btn.btn-alt:hover {
      background-color: #96526a;
      color: #fff;
      transition-property: background-color, color;
      transition-duration: 0.4s;
      transition-timing-function: ease-out; }
  .btn.btn-success {
    border-color: #00cc66;
    color: #00cc66;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    transition-timing-function: ease-out; }
    .btn.btn-success:hover {
      background-color: #00cc66;
      color: #fff;
      transition-property: background-color, color;
      transition-duration: 0.4s;
      transition-timing-function: ease-out; }
  .btn.btn-failure {
    border-color: #ff3333;
    color: #ff3333;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    transition-timing-function: ease-out; }
    .btn.btn-failure:hover {
      background-color: #ff3333;
      color: #fff;
      transition-property: background-color, color;
      transition-duration: 0.4s;
      transition-timing-function: ease-out; }

.division-template, #div1, #div2, #div3, #div4, #div5, #div6 {
  width: 100%; }
  .division-template h1, #div1 h1, #div2 h1, #div3 h1, #div4 h1, #div5 h1, #div6 h1 {
    font-size: 2em;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1em; }
  .division-template p, #div1 p, #div2 p, #div3 p, #div4 p, #div5 p, #div6 p {
    color: #fff;
    text-align: center;
    padding-top: 1em;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 100; }

#div1 {
  background-color: #3e1b3a; }

#div2 {
  background-color: #6d355a; }

#div3 {
  background-color: #96526a; }

#div4 {
  background-color: #fcbc79; }

#div5 {
  background-color: #e29b7a; }

#div6 {
  background-color: #c7817e; }

#button-slide {
  *zoom: 1;
  width: auto;
  max-width: 800px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #3e1b3a;
  height: 250px;
  position: relative; }
  #button-slide:before, #button-slide:after {
    content: '';
    display: table; }
  #button-slide:after {
    clear: both; }
  #button-slide h1 {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.3em;
    color: #3e1b3a; }
  #button-slide h5 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #3e1b3a;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em; }
  #button-slide #button-div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
    text-align: center; }
    #button-slide #button-div:before, #button-slide #button-div:after {
      content: '';
      display: table; }
    #button-slide #button-div:after {
      clear: both; }
    #button-slide #button-div:last-child {
      margin-right: 0%; }
