#button-slide {
  padding: 1em; }
  #button-slide h1 {
    font-size: 2em;
    color: #3e1b3a;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center; }

.dark-purple-button {
  font-size: 1.3em;
  color: #3e1b3a;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 0.4em;
  background-color: #fff;
  border: 1px solid #666;
  color: #000;
  text-decoration: none;
  border-style: solid;
  border-color: #3e1b3a;
  border-width: 0.3em;
  border-radius: 0.9em; }
